@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.no-select {
  user-select: none;
  pointer-events: none;
}

.bgHover {
  background: rgba(0, 0, 0, 0.3);
}

.flexColumn {
  flex-direction: column;
}

.content {
  cursor: pointer;
}

.black {
  color: #222;
}

.deselectButton {
  display: flex;
  gap: 4px;
  background: #305e7a;
  margin-bottom: 10px;
  color: #fff;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.deselectButton:hover {
  background: #357095;
}

.infoButton {
  color: #fff;
  font-size: 40px;
}

.infoButton:hover {
  color: #f1f1f1;
}

.infoContainer {
  min-height: calc(100vh - 190px);
}

.info {
  padding: 30px;
  color: #fff;
}

.videoContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  align-items: start;
}

.videoContainer > div:nth-child(1) {
  background: #f0f0f0;
  width: 230px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: 8px;
}

.videoContainer > div:nth-child(1)::-webkit-scrollbar {
  width: 5px;
}

.videoContainer > div:nth-child(1)::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.videoContainer > div:nth-child(1)::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.videoContainer > div:nth-child(1)::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

.videoContainer > div:nth-child(2) {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.videoIframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.videoContainer ul {
  padding: 0;
  list-style-type: none;
}

.videoContainer li {
  padding: 0;
  list-style-type: none;
  cursor: pointer;
  padding: 14px 12px;
  font-size: 13px;
  box-shadow: 0px 1px 1px 0px rgb(0, 0, 0, 0.1);
}

.videoContainer li:hover {
  background-color: #f9f9f9;
}

.inputContainer {
  display: flex;
  width: 450px;
  align-items: center;
  margin-bottom: 12px;
}

.inputContainer > label:nth-child(1) {
  width: 90px;
  font-size: 15px;
}

.inputContainer > input:nth-child(2) {
  flex: 1;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 6px;
  font-size: 14px;
}

.spacer {
  width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 30px;
  height: 30px;
}

.videoThumbContainer {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}

.videoThumb {
  width: 94px;
  height: 54px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 2px 2px rgb(0, 0, 0, 0.15);
}

.videoThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoItem {
  display: flex;
  gap: 12px;
  transition: transform 0.3s, background 0.3s;
}

.videoItem:hover {
  transform: scale(1.03);
}

.videoTitle {
  width: 110px;
}

.playlistContainer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.playlistContainer.open {
  max-height: 200px;
}

.playlistBar {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 10px;
}

.playlistTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: bold;
  font-size: 14px;
}

.playlistButton {
  display: flex;
  background-color: #222;
  border-radius: 6px;
  align-items: center;
  gap: 2px;
  font-weight: bold;
  padding: 3px 7px 3px 2px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.playlistButton:hover {
  background-color: #555;
}

.playlistIcon {
  font-weight: bold;
  font-size: 20px;
}
